//  Navigation bar

.topnav {
  overflow:hidden;
  background-color:white;
 
}
.topnav-right {
  float: right;
}
.topnav a {
  float: right;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: var(--font-mono);
   width: -52%;

}
.topnav-left{
  float: left;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  z-index: 100;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
// Skill box

.box{
  position:relative;
  margin: 5% auto 0;
  width: 80%;
  height: 325px;
  background:linear-gradient(to right, rgb(212, 206, 28), rgb(38, 169, 192));
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
  border-radius: 21px;
  
  
  overflow: hidden;


div
{
border-top-right-radius: 20px;
}
div
{
border-bottom-right-radius: 20px;
}
div
{
border-bottom-left-radius: 20px;
}
div
{
border-top-left-radius: 20px;
}
  
}


// Test




#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  // Set position sticky so the jumbotron stays fixed while you scroll.
  // position: sticky;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  background: url("/src/assets/fi.png");
  background-position: center;
  background-size: cover; 
  

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}




